@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {

    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}

.bodyCustomization {

    background-image: url('images/Majestic4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;

}

.logo {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigationBar a{

    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
    transition: 0.7s ease;

}

.navigationBar a:hover {

    color: aqua;
    transform: scale(1.1);
    font-size: 1.3em;

}



.about {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 400px 200px;

}

.aboutT {

    color: aqua;
    font-weight: 700;
    letter-spacing: 1px;

}

.aboutP {

    color: #ffffff;
    font-weight: 600;


}



.downloadT {

    color: aqua;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;


}

.downloadC {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.dCard0 {

    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.dCard0:hover {

    transform: scale(1.1);

}

.dIconC0 {

    font-size: 8em;
    color: aqua;
    text-align: center;

}

.dInfoC0 {

    text-align: center;

}

.dInfoC0 h3{

    color: aqua;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px;

}

.dCard1 {

    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.dCard1:hover {

    transform: scale(1.1);

}

.dIconC1 {

    font-size: 8em;
    color: aqua;
    text-align: center;

}

.dInfoC1 {

    text-align: center;

}

.dInfoC1 h3{

    color: aqua;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px;

}



.support {

    background-color: black;
    margin-top: 550px;

}

.supportC {

    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.sCard0 {

    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.sCard0:hover {

    transform: scale(1.1);

}

.sImgC0 img{

    width: 100%;

}

.sCard0:hover .sImgC0 {

    opacity: 0.9;

}

.sInfoC0 {

    padding: 1em;

}

.sCatC0 {

    font-size: 0.8em;
    color: black;

}

.sDiscTitle {

    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;

}

.sDlinkC0 {

    text-decoration: none;
    color: aqua;
    transition: 0.7s ease;

}

.sDlinkC0:hover {

    transform: scale(1.1);

}


.socials {

    background-color: black;

}

.socialsT {

    color: aqua;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;


}

.socialsC {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.slCard0 {

    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.slCard0:hover {

    transform: scale(1.1);

}

.slIconC0 {

    font-size: 8em;
    color: aqua;
    text-align: center;

}

.slInfoC0 {

    text-align: center;

}

.slInfoC0 h3{

    color: aqua;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px;

}

.slCard1 {

    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}

.slCard1:hover {

    transform: scale(1.1);

}

.slIconC1 {

    font-size: 8em;
    color: aqua;
    text-align: center;

}

.slInfoC1 {

    text-align: center;

}

.slInfoC1 h3{

    color: aqua;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px;

}

.footer {

    background-color: black;
    color: #ffffff;
    padding: 2em;
    display: flex;
    justify-content: space-between;

}

.footer-title {

    font-size: 1.3em;
    font-weight: 600;

}

.footer-title span{

    color: aqua;

}

.footer .footer-icons a{

    font-size: 1.3em;
    padding: 0 12px 0 0;

}

@media (max-width:1023px){
    header {
        padding: 12px 20px;
    }

    section {

        padding: 80px 20px;

    }

    .socialsC {

        flex-direction: column;
        align-items: center;

    }
}

@media (max-width:641px){

    body {

        font-size: 12px;

    }

}

@media (max-width:300px){

    body {

        font-size: 10px;

    }

}